body{
    background-color: #1d2630;
}

*{
    color: #fff;
}
#update{
    display: none;
}
.table th, .table td {
    color: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    text-align: left;
    background-color: #1d2630;
}